@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
   
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.artigo{
    margin: auto;
    width: 100%;
}

main article p{
    font: normal 1.2em arial sans-serif;
    text-indent: 30px;
    text-align: justify;
 
}

main article a{
    text-decoration: none;
}

body article a:hover{
    text-decoration: underline;
    color: red;
}

header {
    font: bold 2em 'work-sans' sans-serif ;
    background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.164), rgba(0, 0, 255, 0.623));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;

}

.artigo h2{
    text-align: center;
    padding: 20px;
}

.box h3{
    padding: 40px;
    font: bold;
    text-align: center;
}

.container{
    display: flex;
    margin: auto;
    max-width: 800px;
    min-width: 320px;
}

.box{
    display: initial;
    margin: auto;
    align-items: center;
    width: 100%;

}

.box picture img{
    margin: auto;
    display: block;
    width: 100%;
    min-width: 320px;
    max-width: 500px;
}

.box form{
    text-align: center;
    display: block;
}

.container form input{
    margin: 0 auto 10px;
    padding: 5px 40px;
    text-align: center;
    display: block;
    border-radius: 20px;
    box-shadow: 5px 2px 10px rgb(0, 0, 0);
}

.container form label{
    display: block;
    margin: 0px;
    font-weight: bold;
    padding-top: 20px;
}

.container form button{
    font:normal normal 12pt arial white;
    color: aliceblue;
    padding: 5px 30px;
    border-radius: 15px;
    box-shadow: 5px 2px 10px rgb(0, 0, 0);
    background-color: rgb(85, 117, 204);
    margin: 30px;
    
}

main h4{
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
}

.boxvideo{
    margin: auto;
    @media(max-width: 100%;)
    
   
}

.boxvideo iframe{
    width: 100%;
}
